/* General styles */
body {
  font-family: "Roboto", sans-serif; /* Gunakan font Roboto */
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* Dark background */
  color: #fff; /* White text */
}

/* Header styles */
.header {
  background-color: #171717; /* Darker header background */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header .logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* AddItemForm styles */
.add-item-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-item-form input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #444; /* Darker border */
  border-radius: 5px;
  background-color: #333; /* Dark input background */
  color: #fff; /* White text */
}

.add-item-form button {
  padding: 10px 20px;
  background-color: #0077cc; /* Dark blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-item-form button:hover {
  background-color: #005fa6; /* Darker blue on hover */
}

/* ShoppingList styles */
.shopping-list {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

.shopping-list p {
  font-size: 1.2em; /* Larger font size */
  text-align: center;
  margin-bottom: 20px;
}

.item {
  background-color: #333; /* Dark item background */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #444; /* Darker border */
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item button {
  background-color: #cc0000; /* Dark red delete button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.item button:hover {
  background-color: #a60000; /* Darker red on hover */
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6); /* Darker modal background */
  z-index: 1000;
}

.modal-content {
  background-color: #333; /* Dark modal content background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
  margin-bottom: 20px;
  color: #fff; /* White text */
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button.confirm {
  background-color: #0077cc; /* Dark blue */
  color: #fff;
}

.modal-button.cancel {
  background-color: #cc0000; /* Dark red */
  color: #fff;
}

.modal-button:hover {
  opacity: 0.8;
}
